{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
URL Shortener
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">URL Shortener</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_history') }}" tabindex="-1" >History</a>
          </li>
        </ul>
      </div>
  </nav>
    {% if name %}
        <h2>Hello, {{ name }}</h2>
    {% endif %}
    {% if history_name %}
        <h2>{{ history_name }}'s usage history</h2>
    {% endif %}
    <form class="col-md-4 col-md-offset-4" style="margin:auto" method="post" action="/shorten-url">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.long_url) }}
        <button type="submit" class="btn btn-lg btn-primary" style="margin-bottom:50px">Shorten URL</button>
    </form>
    {% if url_short %}
        <div class="input-group mb-3 col-md-4 col-md-offset-4" style="margin:auto">
            <input type="text" class="form-control" value="{{ url_short }}" name="url" id="url">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" onclick="copyText('url')">Copy</button>
            </div>
        </div>
    {% endif %}
    <br>
    {% if data %}
    <h2 style="text-align:center">History</h2>
        <table border="2px" style="margin:auto" class="table table-dark">
            <tr>
                <th>Long URL</th>
                <th>Short URL</th>
                <th></th>
            </tr>
            {% for i in range(data | length) %}
                <tr>
                    <td>{{ data[i].long_url }}</td>
                    {% set id = "hist" + i|string() %}
                    <td id="{{ i }}" >{{ "http:://localhost:5001/" + data[i].short_url }}</td>
                    <td><div class="input-group-append">

                    <button class="btn btn-outline-secondary" type="submit" onclick="copyText2('{{ i }}')">Copy</button>
                </div></td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}
    <script type="text/javascript">
        function copyText(parameter) {
            var Text = document.getElementById(parameter);
            Text.select();
            navigator.clipboard.writeText(Text.value);
        }
        function copyText2(parameter) {

            var Text = document.getElementById(parameter).textContent;
            navigator.clipboard.writeText(Text);
        }
    </script>
{% endblock %}
